@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Conta";
}

<body id="telaCadastro">
    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card-cad" style="border-radius: 15px;">
                            <div class="card-body p-5 mb-3">
                                <h2 class="text-uppercase text-center mb-4 uppercaseUser">Crie uma conta</h2>

                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <input asp-for="Input.Email" class="form-control form-control-lg" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Input.Password" class="form-label"></label>
                                        <input asp-for="Input.Password" class="form-control form-control-lg" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-4">
                                        <input class="form-check-input me-2" type="checkbox" required />
                                        <label class="form-check-label">
                                            Eu concordo com os <a href="#">Termos de serviço</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-block btn-lg text-body" id="btnGeral">
                                            Registrar
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-4 mb-0 texto-geral">
                                        Já possui uma conta?
                                        <a asp-page="/Account/Login" class="link-geral">Entrar</a>
                                    </p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
